* {
    padding: 0px;
    margin: 0px;
}

.message {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: gray;
}